.container {
  align-self: flex-end;
  background-color: #ffbe73;
  border-radius: 16px;
  color: #000;
  margin: 0 16px;
  max-width: 80%;
  min-width: 10%;
  padding: 16px;
  width: auto;
}

.text {
  margin: 0;
}
