.container {
  border: #695394 3px solid;
}

.block {
  margin: 0 16px;
}

.blocktext {
  background-color: #695394;
  border-radius: 16px;
  color: white;
  max-width: 80%;
  padding: 16px;
}

.blockcode {
  background-color: #30214e;
}

.blocklist {
  background-color: #53946b;
}
