.container {
  /* --- IGNORE --- */
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blocktext {
  background-color: #695394;
  border-radius: 16px;
  color: white;
  max-width: 80%;
  padding: 16px;
  text-align: left;
}

.blockcode {
  background-color: #30214e;
}

.blocklist {
  background-color: #53946b;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
