.container {
  background-color: #4f3d66;
  border: 3px solid #fdb24e;
  border-radius: 16px;
  box-shadow: 0 0 16px #ffc265;
  corner-shape: superellipse(-0.5);
  display: flex;
  filter: blur(radius);
  flex-direction: column;
  gap: 32px;
  max-width: 80%;
  min-height: 30vh;
  padding: 40px;
}
